# Ignore node_modules
node_modules

# Ignore TypeScript build output
dist
build

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env
.env.example
.env.development
.env.test
.env.production

# Ignore local development files
.vscode
.DS_Store

# Ignore test coverage reports
coverage

# Ignore npm package lock file
package-lock.json
yarn.lock

# Ignore development file
.prettierignore
.prettierrc

.gitguardian.yaml
.nvmrc
.lintstagedrc
commitlint.config.js
jest.config.mjs
nodemon.json
README.md
eslint.config.mjs
.github
.husky
docker
http_client
