DOMAIN = http://localhost:3000

DATABASE_HOST = 127.0.0.1
DATABASE_PORT = 5432
DATABASE_USER = postgres
DATABASE_PASSWORD = 
DATABASE = quizloom

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5000

GEMINIAI_API_KEY=AIzaSyC_you_get_a_free_key_ybJNNk

SMTP_SERVICE = gmail
SMTP_USERNAME =
SMTP_PASSWORD =
