{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "target": "es2022",
    "baseUrl": ".",
    "paths": {
      "@/*": ["./src/*"]
    }
  },
  "module": {
    "type": "es6",
    "strict": true
  },
  "sourceMaps": true
}
